
/* When Start Game */
body{
    background-color: rgb(248, 247, 247);
}

.container {
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    display: none;
   }

   .line {
    background-color: rgb(217, 222, 226);
    border-radius: 20px;
   }

   .lineIN {
    background-color: green;
   }

   .question {
    height: 200px;
    background-color: rgb(52,58,64);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 20px;
   }

   #questionText {
    font-size: 30px;
    color: rgb(242, 244, 247);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
   }

   .question p {
    font-size: 20px;
    color: rgb(242, 244, 247);
     font-family: Arial, Helvetica, sans-serif;
   }

   main {
    display: flex;
    justify-content: space-between;
   }

   .variant-box {
    width: 30%;
    margin-top: 50px;
    height: 100px;
    border: 1px solid rgb(217, 222, 226);
   }

   .a{
    background-color: rgb(52,58,64);
    height: 50%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(242, 244, 247);
    padding-top: 10px;
    padding-left: 10px;
   }

   .b{
    background-color: rgb(52,58,64);
    height: 50%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(242, 244, 247);
    padding-top: 10px;
    padding-left: 10px;
   }

   .c{
    background-color: rgb(52,58,64);
    height: 50%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(242, 244, 247);
    padding-top: 10px;
    padding-left: 10px;
   }

   .variant-bottom {
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(52,58,64);
    padding-top: 10px;
    padding-left: 10px;
    }



    /* When open page */
    .start_title {
        background-color: rgb(52,58,64);
        width: 70%;
        margin: 0 auto;
        color: rgb(242, 244, 247);
        height: 150px;
        text-align: center;
        line-height: 150px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 100px;
        border-radius: 20px;
    }

    .startButton {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .startButton button {
        width: 300px;
        margin-top: 30px;
        padding: 20px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(62, 68, 75);
        color: rgb(242, 244, 247);
        border-radius: 20px;
        cursor: pointer;
        border: none;
    }

    .startButton button:hover {
        background-color: rgb(52,58,64);
    }